<nz-layout class="">
  <nz-header>
    <div nz-row nzJustify="start" nzAlign="middle">
      <div
        nz-col
        nzSpan="12"
        nz-space
        nzAlign="center"
        class="space-align-block"
      >
        <nz-select style="min-width: 80px" [(ngModel)]="selectedSearchType">
          <nz-option nzValue="age" nzLabel="อายุ"></nz-option>
          <nz-option nzValue="firstName" nzLabel="ชื่อ"></nz-option>
          <nz-option nzValue="lastName" nzLabel="นามสกุล"></nz-option>
          <nz-option nzValue="birthday" nzLabel="วันเกิด"></nz-option>
          <nz-option nzValue="gender" nzLabel="เพศ"></nz-option>
        </nz-select>

        <nz-divider nzType="vertical"></nz-divider>

        <div>
          <nz-input-group [nzSuffix]="suffixSearchSearch">
            <input
              type="text"
              nz-input
              placeholder="ใส่คำค้นหา..."
              #inputField
            />
          </nz-input-group>

          <ng-template #suffixSearchSearch>
            <span
              nz-icon
              nzType="search"
              (click)="search(inputField.value)"
            ></span>
          </ng-template>
        </div>
      </div>

      <div nz-col nzSpan="12">&nbsp;</div>
    </div>
  </nz-header>
  <nz-content>
    <nz-table #guyTable [nzData]="guyList">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Birthday</th>
          <th>Created Date</th>
          <th>Created By</th>
          <th>Updated Date</th>
          <th>Updated By</th>
          <th class="d-flex">
            <a class="m-auto" nz-button nzType="primary" (click)="addGuy()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-patch-plus"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5"
                />
                <path
                  d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"
                />
              </svg>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guy of guyTable.data">
          <td>{{ guy.id }}</td>
          <td>{{ guy.firstName }}</td>
          <td>{{ guy.lastName }}</td>
          <td>{{ guy.age }}</td>
          <td>{{ guy.gender }}</td>
          <td>
            {{
              transformDateToBuddhistEraYear(guy.birthday)
                | date : "dd MMMM yyyy"
            }}
          </td>
          <td>
            {{
              transformDateToBuddhistEraYear(guy.createdDate)
                | date : "dd/MM/yyyy"
            }}, {{ guy.createdDate | date : "HH:mm" }}
          </td>
          <td>{{ guy.createdBy }}</td>
          <td>
            {{
              transformDateToBuddhistEraYear(guy.updatedDate)
                | date : "dd/MM/yyyy "
            }}, {{ guy.updatedDate | date : "HH:mm" }}
          </td>
          <td>{{ guy.updatedBy }}</td>
          <td class="d-flex">
            <div class="m-auto">
              <a (click)="editGuy(guy)">Edit</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="deleteGuy(guy.id)">Delete</a>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
  <nz-footer></nz-footer>
</nz-layout>

<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isModalLoading"
>
  <form [formGroup]="guyForm" class="row justify-content-between">
    <div nz-form-item class="col-12 col-md-6 d-flex">
      <nz-form-label>ชื่อ</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="firstName" />
      </nz-form-control>
    </div>

    <div nz-form-item class="col-12 col-md-6 d-flex">
      <nz-form-label>นามสกุล</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="lastName" />
      </nz-form-control>
    </div>

    <div nz-form-item class="col-12 col-md-6 d-flex">
      <nz-form-label>วันเกิด</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="birthday" type="date" />
      </nz-form-control>
    </div>

    <div nz-form-item class="col-12 col-md-6 d-flex">
      <nz-form-label>อายุ</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          [disabled]="true"
          placeholder="{{ guyForm.value.age }}"
        />
      </nz-form-control>
    </div>

    <div nz-form-item class="col-12 col-md-6 d-flex">
      <nz-form-label>เพศ</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="gender">
          <nz-option nzLabel="ชาย" nzValue="ชาย"></nz-option>
          <nz-option nzLabel="หญิง" nzValue="หญิง"></nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </form>
</nz-modal>
