nz-header,
nz-footer {
  background: unset;
  color: unset;
}

[nz-form-item] {
  margin-top: 10px; /* Adjust the value as needed for top margin */
  margin-bottom: 5px; /* Adjust the value as needed for bottom margin */
}
